<robot name="adis" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find adis16488)/urdf/adis_macro.xacro"/> <!--Scanner values-->

    <link name = "map"/>
    <xacro:Adis parent ="map" child="adis16488">
        <origin xyz="0 0 0" rpy="0 0 0" /> <!--PhoXi3Dscanner origin-->
    </xacro:Adis>

</robot>